<%= render '/partials/nav' %>

<div class="container">
  <div class="row">
    <div class="col">
      <p> <%= @zip_data.name %> Curent Weather</p>
    </div>
    <div class="col">
      <p>Temperature <%= @current_weather.temp.to_i.round %>°</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Next Seven Days</p>
      <%= @zip_data %>
      <%= @current_weather%>
    </div>
  <div class="row">
    <div class="col">
      <p>Day 1</p>
    </div>
    <div class="col">
      <p>Day 2</p>
    </div>
    <div class="col">
      <p>Day 3</p>
    </div>
    <div class="col">
      <p>Day 4</p>
    </div>
    <div class="col">
      <p>Day 5</p>
    </div>
    <div class="col">
      <p>Day 6</p>
    </div>
    <div class="col">
      <p>Day 7</p>
    </div>
  </div>
</div>