<div class="container px-4 py-5" id="custom-cards">
    <h1 class="display-4 text-center"> <%=@zip_data.name%> Current Weather </h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('sun_set.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-1 display-4 lh-1 fw-bold"><%=@current_weather.weather[0].main%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold"> Temperature </h2>
            <h3 class="pt-20 mt-50 mb-450 display-1 lh-1 fw-bold"> <%=@current_weather.temp.to_i.round%>° </h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold"> Feels Like </h2>
            <h2 class="pt-20 mt-50 mb-450 display-5 lh-1 fw-bold"> <%=@current_weather.feels_like.to_i.round%>° </h2>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('water.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Wind Speed: <%=@current_weather.wind_speed.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold">  </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Wind Deg: <%=@current_weather.wind_deg.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold">  </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Wind Gust: <%=@current_weather.wind_gust.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold"> </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Humidity: <%=@current_weather.humitity.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold"> </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Preassure: <%=@current_weather.preasure.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold">  </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Dew Point: <%=@current_weather.dew_point.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold">  </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Clouds: <%=@current_weather.clouds.to_i.round%></h3>
            <h2 class="pt-15 mt-50 mb-200 display-12 lh-1 fw-bold">  </h2>
            <h3 class="pt-1 mt-1 mb-1 display-8 lh-1 fw-bold">Uvi: <%=@current_weather.uvi.to_i%></h3>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('snow.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-1 mt-1 mb-1 display-12 lh-1 fw-bold"> Sunset </h2>
            <h3 class="pt-1 mt-1 mb-1 display-12 lh-1 fw-bold"><%= Time.at(@current_weather.sunrise).strftime('%H:%M')%></h3>
            <h2 class="pt-1 mt-1 mb-1 display-12 lh-1 fw-bold"> Sunrise </h2>
            <h3 class="pt-1 mt-1 mb-1 display-12 lh-1 fw-bold"><%= Time.at(@current_weather.sunset).strftime('%H:%M')%></h3>
        </div>
        </div>
    </div>
    </div>
    <h1 class="display-4 text-center"> Weather Forecast </h1>
</div>